@import '../vendor/variables';
@import '../vendor/mixins';

/* ----------------------------------------------------------------
Blog
-----------------------------------------------------------------*/

.blog {
  text-align: center;
  padding: 100px 0;

  &__heading {
    margin-bottom: 80px;
  }
}

.card {
  box-shadow: 0 4px 16px #ccc;
  margin-bottom: 20px;
}
