@import '../vendor/variables';
@import '../vendor/mixins';

/* ----------------------------------------------------------------
Header
-----------------------------------------------------------------*/

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 16px;
  width: 100%;
  background: transparent;
  z-index: 2;

  @include for-phone-xs {
    padding: 14px 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    color: $white-color;
  }
}

.nav {
  font-family: $poppins-font;

  @include for-phone-xs {
    display: none;
  }

  @include for-phone-sm-only {
    display: none;
  }

  @include for-tablet-md-only {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__link {
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #eee;
    padding: 0 5px;
    transition: color 0.5s;

    &.active {
      color: $orange-color;
    }

    &:hover {
      transition: color 0.5s;
      color: $orange-color;
    }
  }
}

.burger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16px;
  width: 22px;
  background: transparent;
  border: none;

  &:before {
    content: '';
    height: 2px;
    width: 85%;
    align-self: flex-end;
    background-color: #f2f2f2;
  }
  &:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #f2f2f2;
  }

  &__line {
    align-self: flex-end;
    height: 2px;
    width: 55%;
    background-color: #f3f3f3;
  }
}
